<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>

<main class="bg-gradient-to-br from-white to-uni-blue w-full">
    <app-header></app-header>
    <div class="flex flex-col w-full pb-4 gap-y-2">
        <div class="flex flex-row w-full items-center justify-start gap-x-4">
            <img src="assets/img/events/placeholderEvent.png" alt="event image" class="w-full h-72 object-cover">
        </div>
        <div class="flex flex-row gap-x-6 items-center w-full px-6 py-4">
            <div class="bg-black/30 rounded-md flex flex-col items-start justify-start p-4 text-white text-start">
                <h4 class="text-xl font-bold  font-poppins self-center">{{event.title}}</h4>
                <div class="flex flex-col gap-y-2">
                    <p class="text-sm font-regular  font-poppins">{{event.description}}</p>
                    <p class="text-sm font-regular  font-poppins">{{event.location.address}}</p>
                    <div class="flex flex-row justify-center w-full gap-x-6">
                        <div class="flex flex-row gap-x-4 items-center text-black">
                            <ng-icon size="24px" name="heroCalendar"></ng-icon>
                            <p class="text-sm font-medium  w-full font-poppins">{{formatDate(event.date.beginDate)}}</p>
                        </div>
                        <span class="text-black">-</span>
                        <div class="flex flex-row gap-x-4 items-center text-black">
                            <ng-icon size="24px" name="heroCalendar"></ng-icon>
                            <p class="text-sm font-medium  w-full font-poppins">{{formatDate(event.date.endDate)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-black/30 rounded-md flex flex-col items-start justify-start p-4 text-white text-start">
                <!--Google map here-->

            </div>
        </div>
    </div>
</main>