<div class="flex flex-row w-full justify-between items-center px-4 lg:px-24 gap-x-48 py-4 font-raleway shadow-xl shadow-black/50 drop-shadow-sm">
    <img src="assets/img/logo/logo.png" alt="logo" class="w-12 h-12">
    <div class="hidden lg:flex flex-row w-full">
        <div class="lg:flex flex-row gap-x-16 w-full items-center">
            <p class="text-xl cursor-pointer" (click)="goToInicio()">Inicio</p>
            <p class="text-xl cursor-pointer" (click)="goToEventos()">Buscar Eventos</p>
            <p class="text-xl cursor-pointer">Foro</p>
            <p class="text-xl cursor-pointer" (click)="goToCreateEvent()">Crear Evento</p>
        </div>
        <div class="lg:flex flex-row gap-x-8 w-full justify-end items-center">
            <div *ngIf="getUserExists()" class="flex flex-row gap-x-4 items-center">
                <p class="text-xl cursor-pointer">Bienvenido de vuelta, {{user.firstName}}</p>
            </div>

            <button *ngIf="!getUserExists()" class="bg-uni-blue hover:bg-white hover:text-black text-white font-bold py-2 px-4 rounded"
            (click)="goToLogin()">
                Iniciar sesión
            </button>
            <button *ngIf="!getUserExists()" class="border border-uni-blue hover:bg-white text-black font-bold py-2 px-4 rounded"
            (click)="goToRegister()">
                Registrarse
            </button>
        </div>
    </div>
    <div class="w-full flex relative lg:hidden justify-end">
        <ng-icon size="32px" name="heroBars3" (click)="setDropdown()"></ng-icon>
        <div *ngIf="openDropdown" class="absolute top-8 bg-black rounded-md">
            <div *ngFor="let item of dropdownOptions" class="hover:bg-white/50 flex flex-col w-full">
                <p class="text-base text-white px-6">{{item}}</p>
            </div>

        </div>

    </div>
</div>