<div class="flex flex-row w-full justify-between items-center px-24 gap-x-48 py-4 font-raleway shadow-xl shadow-black/50 drop-shadow-sm">
    <img src="assets/img/logo/logo.png" alt="logo" class="w-12 h-12">
    <div class="flex flex-row w-full">
        <div class="flex flex-row gap-x-16 w-full items-center">
            <p class="text-xl">Inicio</p>
            <p class="text-xl">Buscar Eventos</p>
            <p class="text-xl">Foro</p>
        </div>
        <div class="flex flex-row gap-x-8 w-full justify-end items-center">
            <button class="bg-uni-blue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Iniciar sesión
            </button>
            <button class="border border-uni-blue hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">
                Registrarse
            </button>
        </div>
    </div>
</div>