<main class="bg-gradient-to-br from-white to-uni-blue w-full">
    <app-header></app-header>
    <div class="flex flex-col w-full px-10 py-4 gap-y-2">
        <div class="flex flex-row w-full items-center justify-start gap-x-4">
            <!-- Name Filter -->
            <mat-form-field appearance="fill">
                <mat-label>Buscar por nombre</mat-label>
                <input matInput [(ngModel)]="filters.title" (ngModelChange)="applyFilters()" placeholder="Nombre del evento">
            </mat-form-field>

            <!-- Category Filter -->
            <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select [(ngModel)]="filters.category" (ngModelChange)="applyFilters()">
                    <mat-option value="">Todos las categorías</mat-option> <!-- Clear option -->
                    <mat-option *ngFor="let category of categories" [value]="category.name">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Department Filter -->
            <mat-form-field appearance="fill">
                <mat-label>Departamento</mat-label>
                <mat-select [(ngModel)]="filters.district" (ngModelChange)="applyFilters()">
                    <mat-option value="">Todos las distritos</mat-option> <!-- Clear option -->
                    <mat-option *ngFor="let department of districts" [value]="department.name">
                        {{ department.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Begin Date Filter -->
            <mat-form-field appearance="fill">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="filters.beginDate" (ngModelChange)="applyFilters()">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <button mat-button *ngIf="filters.beginDate" matSuffix mat-icon-button aria-label="Clear" (click)="filters.beginDate=''; applyFilters()">
                <mat-icon>close</mat-icon>
              </button>

            <!-- End Date Filter -->
            <mat-form-field appearance="fill">
                <mat-label>Fecha de fin</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="filters.endDate" (ngModelChange)="applyFilters()">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <button mat-button *ngIf="filters.endDate" matSuffix mat-icon-button aria-label="Clear" (click)="filters.endDate=''; applyFilters()">
                <mat-icon>close</mat-icon>
              </button>

            <!-- State Filter -->
            <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="filters.state" (ngModelChange)="applyFilters()">
                    <mat-option value="">Todos los estados</mat-option> <!-- Clear option -->
                    <mat-option *ngFor="let state of states" [value]="state.name">
                        {{ state.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div *ngIf="loggedIn" class="flex flex-col gap-y-8 lg:grid lg:grid-cols-4 w-full gap-x-16">
            <app-event-card *ngFor="let event of displayedEvents" [event]="event"
                image="/assets/img/events/placeholderEvent.png">
            </app-event-card>
        </div>

        <mat-paginator class="self-center" [length]="events.length" [pageSize]="8" [pageSizeOptions]="[8, 16, 24]">
        </mat-paginator>
    </div>
</main>