@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

.snackbar-error {
    background-color: #d32f2f;
    /* Color de fondo rojo */
    color: white;
    /* Color del texto blanco */
}

/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/


.mat-mdc-paginator-outer-container {
    background-color: transparent !important;
}

.mat-mdc-paginator {
    background-color: transparent !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
